
#blog_banner {
	background-repeat: no-repeat;
}

.blog_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-auto-rows: auto;
	grid-gap: 15px;
	justify-content: center;
	margin: 0px 35px 25px 35px;
}	

.blog_content {
	text-align: center;
}

.blog_img {
	width: 100%;
}

.blog_inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}