@import url("blog.css");
@import url("text.css");
@import url("footer.css");

body {
	font-family: 'Monserrat', 'sans-serif';
	font-size: 18px;
	color: #000;
}

#nav_container {
	background-image: url("../images/beachbackground.jpg");
	background-repeat: no-repeat;
	width: 100%;
	
}
	
#header {
	display: grid;
	width: 100%;
	grid-template-columns: 25vw 65vw;
	grid-template-rows: 90px 550px;
	grid-gap: 10px;
	grid-template-areas: 
		"logo nav"
		"img img";
}

#logo {
	grid-area: logo;
	height: 80px;
	width: 70px;
	padding: 35px 35px;
}

#header_img {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	grid-area: img;
}

#nav {
	display: flex;
	height: 20px;
	width: 100%;
	grid-area: nav;
	font-weight: bold;
	text-transform: uppercase;
	justify-content: center;
	padding: 45px 35px;
	margin: 10px 10px;
	align-items: center;
}

a {
	color: #000;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0px 0px;
	margin: 0px 0px;
}

li {
	float: left;
}

li a{
	display: block;
	background-color: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 20px 20px 20px 20px;
	color: #39c9ec;
	}
	
ul li a:hover {
	color: #fff;
	background-color: #39c9ec;
}

/*Divider code credit https://csshint.com/css-divider/ */
.divider {    
    display: table; 
    font-size: 24px; 
	justify-content: center;
    width: 75%;
    margin: 40px auto;
}

.divider span { 
	display: table-cell; 
	position: relative; 
}

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
        
.divider span:first-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#9300ff));
    background-image: -webkit-linear-gradient(180deg, transparent, #9300ff);
    background-image: -moz-linear-gradient(180deg, transparent, #9300ff);
    background-image: -o-linear-gradient(180deg, transparent, #9300ff);
    background-image: linear-gradient(90deg, transparent, #9300ff);
}
        
.divider span:nth-child(2) {
    color: #9300ff; padding: 0px 5px; width: auto; white-space: nowrap;
}

.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9300ff), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #9300ff, transparent);
    background-image: -moz-linear-gradient(180deg, #9300ff, transparent);
    background-image: -o-linear-gradient(180deg, #9300ff, transparent);
    background-image: linear-gradient(90deg, #9300ff, transparent);
}

.main_container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-auto-rows: 400x;
	grid-gap: 15px;
}	

.innerbox {
	display: flex;
	flex-direction: column;
	border: 5px double #9300ff;
	border-radius: 25px;
	background-color: #fff;
	padding: 25px 25px 25px 25px;
	margin: 5px 25px 5px 25px;
	justify-content: center;
}
.innerbox:hover {
	border: 3px solid #005e98;
	background-color: #39c9ec;
}

.innerbox h3:hover {
	color: #9300ff;
}

.innerbox2 {
	display: flex;
	flex-direction: column;
	border: 5px double #9300ff;
	border-radius: 25px;
	background-color: #fff;
	padding: 25px 25px 25px 25px;
	margin: 5px 25px 5px 25px;
	justify-content: center;
}

.innerbox2:hover {
	border: 3px solid #39c9ec;
	background-color: #005e98;
}

.innerbox2 h3:hover {
	color: #9300ff;
}

.box_anim{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.quo1 {
	overflow-x: hidden;
	overflow-y: hidden;
	perspective: 10px;
	padding: 45px 0px 0px 0px;
}

.button {
	display: block;
	background-color: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 10px 5px 10px 5px;
	color: #39c9ec;
}

.button:hover {
	background-color: #39c9ec;
	color: #fff;
}

.card_para {
	color: #000;
}

.card_head {
	color: #005e98;
}

.caption {
	font-size: 10px;
}

.center_text {
	justify-content: center;
	align-items: center;
	margin: 45px 0px 0px 0px;
	text-align: center;
}

img {
	max-width: 100%;
}

.card_text {
	bottom: 0;
	background-color: rgb(255, 255, 255, 0.7);
	padding: 10px 20px 10px 20px;
}

.footer {
	display: grid;
	width: 100%;
	grid-template-columns: 25vw 45vw 25vw;
	grid-template-rows: 90px;
	grid-gap: 10px;
	grid-template-areas: 
		"course name date";
	background-color: #000;
	color: #39c9ec;
	padding: 10px 10px 10px 10px;
	align-items: center;
	justify-content: center;
}

#course {
	grid-area: course;
}

#name {
	grid-area: name;
}

#date {
	grid-area: date;
	font-size: 1em;
}

.top_banner {
	width: 100;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.social_share {
	display: flex;
	justify-content: center;
}

#blog_header {
	display: grid;
	width: 100%;
	grid-template-columns: 25vw 65vw;
	grid-template-rows: 110px;
	grid-gap: 10px;
	grid-template-areas: 
		"logo nav"
		"img img";
}


